:root {
  --text-color: #f5970a;
}

.bottom-sheet-dialog{
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.bottom-sheet-dialog .card{
  background: #f5741d;
  color: white;
  margin: 10px;
}

.clickable:hover{
  cursor: pointer;
  background: #f2f2f2;
}

.menu-item-header{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

.category-item{
  font-weight: bold !important;
  padding: 15px !important;
}


.menu-item-header:hover{
  cursor: pointer;
}

.menu-item-header i{
  margin-right: 20px;
  font-weight: bold;
}

.mih-left{
  margin-top: 3px;
  color: var(--text-color);
  font-size: 24px;
}
.mih-center{
  margin-top: 7px;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
}
.mih-right{
  text-align: right;
  margin-top: 3px;
  color: var(--text-color);
  font-size: 24px;
}


/* --------------------- */
.my-store-label{
  font-size: 12px !important;
  font-weight: bold !important;
  margin-left: 20px !important;
  list-style-type: none !important;
}

.my-store-item{
  margin-left: 30px !important;
  list-style-type: none !important;
}






/* --------------------------- */

.card{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
  border: 0px !important;
}



.btn-primary,
.btn-primary:focus {
  color: #fff !important;
  background: var(--text-color) !important;
  border: var(--text-color) !important;
}

.btn-primary:hover,
.btn-primary:focus:hover {
  color: #fff !important;
  background: rgba(206, 18, 18, 0.8) !important;
}

.btn,
.btn:focus {
  font-size: 14px !important;
  color: #fff !important;
  transition: 0.3s !important;
}

.btn:hover,
.btn:focus:hover {
  color: #fff !important;
}

.menu-header {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-transform: uppercase;
}

.item-name{
  font-size: 12px;
  font-weight: bold;
}

.item-description{
  color: var(--text-color);
}

.item-price{
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.square-container {
  position: relative;
  width: 100%; /* Set container width to 100% */
  overflow: hidden; /* Hide overflow content */
  padding-top: 100%; /* Maintain 1:1 aspect ratio */
}

.square-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Fill the container */
  height: auto; /* Maintain aspect ratio */
}
