:root {
  --text-color: #7f7f90;
}

.bottom-sheet-dialog{
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.bottom-sheet-dialog .card{
  background: #f5741d;
  color: white;
  margin: 10px;
}


.btn-primary,
.btn-primary:focus {
  font-size: 14px !important;
  color: #fff !important;
  background: var(--color-primary) !important;
  border: var(--color-primary) !important;
  padding: 8px 20px !important;
  margin-left: 30px !important;
  border-radius: 50px !important;
  transition: 0.3s !important;
}

.btn-primary:hover,
.btn-primary:focus:hover {
  color: #fff !important;
  background: rgba(206, 18, 18, 0.8) !important;
}

.menu-header {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-transform: uppercase;
}

.item-name{
  font-size: 12px;
  font-weight: bold;
}

.item-description{
  color: var(--text-color);
}

.item-price{
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.square-container {
  position: relative;
  width: 100%; /* Set container width to 100% */
  overflow: hidden; /* Hide overflow content */
  padding-top: 100%; /* Maintain 1:1 aspect ratio */
}

.square-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Fill the container */
  height: auto; /* Maintain aspect ratio */
}
