RewriteEngine On
RewriteRule ^([^/]+)/best-sellers?$ pages/best-sellers.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/menu?$ pages/menu-item.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/cart?$ pages/my-cart.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/order?$ pages/my-order.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/vouchers?$ pages/voucher-list.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/spin-wheel?$ pages/spin-wheel.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/my-vouchers?$ pages/my-vouchers.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/qr?$ pages/qr.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/sign-in?$ pages/login.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/new-customer?$ pages/new-customer.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/change-password?$ pages/change-password.php?store=$1 [L,QSA]
RewriteRule ^admin/$ admin/ [L,QSA]
RewriteRule ^([^/]+)/$ pages/?store=$1 [L,QSA]
RewriteRule ^([^/]+)/test?$ pages/test.php?store=$1 [L,QSA]