RewriteEngine On
RewriteRule ^([^/]+)/best-sellers?$ pages/best-sellers.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/menu?$ pages/menu-item.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/cart?$ pages/my-cart.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/order?$ pages/my-order.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/vouchers?$ pages/voucher-list.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/spin-wheel?$ pages/spin-wheel.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/my-vouchers?$ pages/my-vouchers.php?store=$1 [L,QSA]
RewriteRule ^([^/]+)/store-qr?$ pages/store-qr.php?store=$1 [L,QSA]
RewriteRule ^admin/$ admin/ [L,QSA]
RewriteRule ^([^/]+)/$ pages/?store=$1 [L,QSA]
