.center-cropped{
  object-position: center;
  height: 600px;

}
.carousel-caption {
    bottom: 170px !important;
}

.nav-right{
    width: 290px;
    height: 100%;
}
a:hover {
  background-color: orange;
}
a:active {
  background-color: orange;
}
.center-text{
  text-align: center;
}
